.container{
    
    margin-top:40px;
    
}

#msg_erro{
    display:none;
}

#msg_sucesso{
    display:none;
}

#class_div{
    display: none;
}

.div_prod{
    display: none;
}

.oculta{
    display: none;
}



/* 
*********************
Loading . . .
*********************
*/

.btn_carregando{
    margin-left: 46%;
    margin-bottom: 20px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


/* 
*********************
Fim Loading . . .
*********************
*/